
body {
    font-family: Arial, sans-serif;
	margin: 50px;
    padding: 10px;
    box-sizing: border-box;
}

h1 {
    font-size: 85px;
    margin: 30px;
}

.verse-number {
    font-size: 0.7em; /* Adjust the font size as needed */
    /* Add any other styling for verse numbers here */
    vertical-align: text-top;
}

select {
    width: 140px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 12px;
    padding: 5px;
    text-align: center;
}

select:invalid{
    color: gray;
}
option{
    color: black;
}

.selectors {
    margin: 50px;
    width: 395px;
}

p {
    margin: 65px;
    margin-top: -30px;
}

#navigation-bar  {
    margin: 60px;
    margin-top: -20px;
}

h2 {
    text-align: center;
    margin-bottom: 80px;
}

option.placeholder {
    color: grey;
}